{% extends "main.j2" %}
{% block content %}

<h1>Front Range Ski Resort</h1>
<div class="homepageDescription">
    <p>The Ski resort database project is a transactional database management system that tracks mountain activities in Front Range Ski Resort
     in order to provide stakeholders valuable data that can be used to make informed decisions. In our database, the “skier” will be the centralized entity.
      We will establish relationships between the skier and the accommodations used by that skier over the course of the ski season.
       A skier may choose to buy passes, ride lifts, 
    ski trails, and rent equipment. An analysis of these relationships would support fund allocation for resort improvements.</p>
</div>

{% endblock %}