{% extends "main.j2" %}
{% block content %}

<h1>Lifts</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in lifts[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th>Delete Lift</th>
            <th>Edit Lift</th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the id, fname, lname, homeworld and age #}
        {% for lift in lifts %}
        <tr>
            <td>{{ lift.LiftID }}</td>
            <td>{{ lift.LiftNum }}</td>
            <td>{{ lift.LiftName }}</td>
            <td>{{ lift.TravelTime}}</td>
            <td>{{ lift.ChairCapacity }}</td>
            <td>{{ lift.Status }}</td>
            <td>{{ lift.Altitude }}</td>
            

            {# DELETE form #}
            <td>
            <form class="cuForm" id="delete_lift_form_{{ lift.LiftID }}" method="POST" action="/lifts/delete">
                <input type="hidden" name="delete_lift_id" value="{{ lift.LiftID }}">
                    <input type="submit" value="Delete">
                </form>
                </td>


            {# UPDATE form #}
            <td>
        <!-- 1. The Trigger Button -->
        <button type="button" onclick="toggleUpdateForm('{{ lift.LiftID }}')">Edit</button>

        <!-- 2. The Hidden Form -->
        <form class="cuForm" id="update_form_{{ lift.LiftID }}" 
              method="POST" action="/lifts/update" style="display:none; margin-top: 10px;">
            
            <input type="hidden" name="update_lift_id" value="{{ lift.LiftID }}">
            
            <label>Status:</label>
            <select name="update_lift_status" required>
                <option value="open" {% if lift.Status == 'open' %}selected{% endif %}>Open</option>
                <option value="close" {% if lift.Status == 'close' %}selected{% endif %}>Close</option>
            </select>
            
             <input type="submit" value="Save Changes">
            <button type="button" onclick="toggleUpdateForm('{{ lift.LiftID }}')">Cancel</button>
        </form>
        </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}