{% extends "main.j2" %}
{% block content %}

<h1>Skiers Trails</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            <th>ID</th>
            <th>Skier Name</th>
            <th>Trail Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the id, skiername, trailname #}
        {% for skier in skierstrails %}
        <tr>
            <td>{{ skier.SkiersTrailsID }}</td>
            <td>{{ skier.SkierName }}</td>
            <td>{{ skier.TrailName }}</td>
        
            <form id="delete_skierstrails_form"  action="/skierstrails/delete" method="POST">
            <input type="hidden" name="delete_skierstrails_id" value="{{ skier.SkiersTrailsID }}">
                <td>
                    <button type="submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}