{% extends "main.j2" %}
{% block content %}

<h1>Skiers Lifts</h1>

{# READ table #}
<table>
    <thead>
        
        <tr>
            <th>ID</th>
            <th>Skier Name</th>
            <th>Lift Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the id, fname, lname, homeworld and age #}
        {% for skier in skierslifts %}
        <tr>
            <td>{{ skier.SkiersLiftsID }}</td>
            <td>{{ skier.SkierName }}</td>
            <td>{{ skier.LiftName }}</td>
            

            {# DELETE form #}
            <form id="delete_skierlift_form">
                <input type="hidden" name="delete_skierlift_id" value="{{ skier.SkiersLiftsID }}">
                <input type="hidden" name="delete_skierlift_name" value="{{ skier.SkierName }}">
                <td>
                    <button type="submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}