{% extends "main.j2" %}
{% block content %}

<h1>Skiers Lifts</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in skierslifts[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the id, fname, lname, homeworld and age #}
        {% for skier in skierslifts %}
        <tr>
            <td>{{ skier.SkiersLiftsID }}</td>
            <td>{{ skier.Lifts_LiftID}}</td>
            <td>{{ skier.Skiers_SkierID }}</td>
            

            {# DELETE form #}
            <form id="delete_person_form">
                <input type="hidden" name="delete_person_id" value="{{ skier.SkiersLiftsID }}">
                <input type="hidden" name="delete_person_name" value="{{ skier.Skiers_SkierID }}">
                <td>
                    <button type="submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}