{# adapted from starter code #}
{% extends "main.j2" %}
{% block content %}

<h1>Skier's Trails</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            <th>ID</th>
            <th>Skier Name</th>
            <th>Trail Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the id, skiername, trailname #}
        {% for skier in skierstrails %}
        <tr>
            <td>{{ skier.SkiersTrailsID }}</td>
            <td>{{ skier.SkierName }}</td>
            <td>{{ skier.TrailName }}</td>
        
            <form id="delete_skierstrails_form"  action="/skierstrails/delete" method="POST">
            <input type="hidden" name="delete_skierstrails_id" value="{{ skier.SkiersTrailsID }}">
                <td>
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this record for {{ skier.SkierName }} on {{ skier.TrailName }}?')">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# CREATE form #}
<h2>Add a Skier Trail</h2>
<form class="cuForm" id="add_skier_form" action="/skierstrails/create" method="POST">
    
    <label for="create_skier_skierId">Skier: </label>
<select name="create_skier_skierId" id="create_skier_skierId" required>
    <option value="" disabled selected>Select a Skier</option>
    {% for skier in skiers %}
    <option value="{{skier['SkierID']}}">{{skier['Name']}}</option>
    {% endfor %}
</select>

<label for="create_trail_trailId">Trail: </label>
<select name="create_trail_trailId" id="create_trail_trailId" required>
    <option value="" disabled selected>Select a Trail</option>
    {% for trail in trails %}
    <option value="{{trail['TrailID']}}">{{trail['TrailName']}}</option>
    {% endfor %}
</select>


    <input type="submit" value="Add Skier Trail">
</form>

{% endblock %}