{% extends "main.j2" %}
{% block content %}

<h1>Trails</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in trails[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the id, fname, lname, homeworld and age #}
        {% for trail in trails %}
        <tr>
            <td>{{ trail.TrailID }}</td>
            <td>{{ trail.TrailName}}</td>
            <td>{{ trail.Difficulty }}</td>
            <td>{{ trail.TrailLength }}</td>
            <td>{{ trail.Status }}</td>

            
            
            <form id="update_trail_form">
                <input type="hidden" name="update_trail_id" value="{{ trail.TrailID }}">
                <input type="hidden" name="update_trail_name" value="{{ trail.TrailName }}"> 
                <input type="hidden" name="update_trail_difficulty" value="{{ trail.Difficulty }}">
                <input type="hidden" name="update_trail_length" value="{{ trail.TrailLength }}">
                <input type="hidden" name="update_trail_status" value="{{ trail.Status }}">
                <td>
                    <button type="submit">
                        Update
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}