//////////////////////////// delete skier /////////////////////////////////
{% extends "main.j2" %}
{% block content %}

<h1>Skiers</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in skiers[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th>Delete Skier</th>
            <th>Edit Skier</th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the id, fname, lname, homeworld and age #}
        {% for skier in skiers %}
        <tr>
            <td>{{ skier.SkierID }}</td>
            <td>{{ skier.Name}}</td>
            <td>{{ skier.Address }}</td>
            <td>{{ skier.Phone }}</td>
            <td>{{ skier.Email }}</td>
            <td>{{ skier.Ability }}</td>

            {# DELETE form #}
            <td>
                <form class="cuForm" id="delete_skier_form_{{ skier.SkierID }}" method="POST" action="/skiers/delete">
                    <input type="hidden" name="delete_skier_id" value="{{ skier.SkierID }}">
                    <input type="submit" value="Delete">
                </form>
            </td>

/////////////////////////////delete pass////////////////////////////////////
{% extends "main.j2" %}
{% block content %}

<h1>Passes</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in passes[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th>Delete Passes</th>
           
        </tr>
    </thead>

    <tbody>
        {# For each row, print the PassID, Type, PurchaseDate, ExpirationDate, Skiers_SkierID #}
        {% for pass in passes %}
        <tr>
            <td>{{ pass.PassID }}</td>
            <td>{{ pass.Type}}</td>
            <td>{{ pass.PurchaseDate }}</td>
            <td>{{ pass.ExpirationDate }}</td>
            <td>{{ pass.Skiers_SkierID }}</td>

            {# DELETE form #}
            <form id="delete_pass_form_{{ pass.PassID }}" method="POST" action="/passes/delete">">
                <input type="hidden" name="delete_pass_id" value="{{ pass.PassID }}">
                <input type="hidden" name="delete_pass_type" value="{{ pass.Type }}">
                <input type="hidden" name="delete_pass_PurchaseDate" value="{{ pass.PurchaseDate }}">
                <input type="hidden" name="delete_pass_phone" value="{{ pass.ExpirationDate }}">
                <input type="hidden" name="delete_pass_email" value="{{ pass.Skiers_SkierID }}">
                <td>
                    <button type="submit">
                        Delete
                    </button>
                </td>
            </form>
            <form id="update_pass_form">
                <input type="hidden" name="update_pass_id" value="{{ pass.PassID }}">
                <input type="hidden" name="update_pass_type" value="{{ pass.Type }}"> 
                <input type="hidden" name="update_pass_purchase_date" value="{{ pass.PurchaseDate }}">
                <input type="hidden" name="update_pass_expiration_date" value="{{ pass.ExpirationDate }}">
                <input type="hidden" name="update_pass_skier_id" value="{{ pass.Skiers_SkierID }}">
                <td>
                    <button type="submit">
                        Update
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>